*,
*::after,
*::before {
   box-sizing: border-box;
}
.page_body {
   width : 1280px;
   height: auto;
   margin: 0 auto;
}

.title_text {
   font-family   : Verdana, Geneva, Tahoma, sans-serif;
   font-weight   : 400;
   font-size     : 80px;
   line-height   : 94px;
   padding-top   : 63px;
   padding-bottom: 46px;
   padding-left  : 98px;
}

.normal_text {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size  : 80px;
   color      : black;
}

.title_text_highlighted {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size  : 80px;
   color      : #4BCAFF;
}

.container {
   max-width: 1280px;
   margin   : 0 auto;
}

.link {
   text-decoration: none;
}

.navigation {
   margin: 20px 0;
}

.menu {
   display         : flex;
   justify-content : center;
   background-color: #35444F;
   height          : 72px;
}

.menu-item:last-child {
   border-right: 1px solid #ffffff;
}

.menu-item {
   text-align : center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size  : 24px;
   padding-top: 27px;
}

.menu_link {
   padding-top    : 26px;
   padding-bottom : 19px;
   padding-right  : 38px;
   padding-left   : 32px;
   border-left    : 1px solid;
   text-decoration: none;
   color          : #ffffff;
}

.menu_link :hover {
   color: blue;
}

.services_details_item {
   font-size  : 24px;
   font-family: Arial, Helvetica, sans-serif;
}

.services_details_item_special {
   background-color: #DBDBDB;
   height          : 81px;
   font-size       : 24px;
   font-family     : Arial, Helvetica, sans-serif;
   padding         : 27px 78px 27px 38px;
   margin-bottom   : 25px;
   width           : auto;
   height          : 81px;
}

.main_logo {
   display        : flex;
   justify-content: center;
   align-items    : center;
   border         : 1px solid #0000;
}

.logo {
   display       : inline-block;
   vertical-align: middle;

}

.services_icon {
   display        : flex;
   justify-content: center;
   align-items    : center;
}

.tagline_description {
   font-family   : Verdana, Geneva, Tahoma, sans-serif;
   font-size     : 18px;
   text-align    : justify;
   padding-bottom: 54px;
   padding-right : 0px;
}

.main-logo {
   width : 320px;
   height: 381px;
}

.footer_list {
   width           : auto;
   display         : flex;
   justify-content : space-between;
   background-color: rgba(99, 105, 110, 0.48);
   height          : 72px;
   list-style-type : none;
   padding-left    : 40px;
   margin-bottom   : 50px;
}

.footer_list_item {
   font-size  : 28px;
   font-family: Arial, Helvetica, sans-serif;
   color      : #010101;
   margin-top : 28px;
}

.footer_list_item :hover {
   color: #3181A6;
}

.footer_list_item_special {
   font-family  : arial;
   font-weight  : 400;
   font-size    : 28px;
   padding-top  : 28px;
   padding-right: 40px;
}

.description {
   padding-top   : 60px;
   padding-bottom: 37px;
   padding-left  : 496px;
}

.tagline_text {
   padding-top: 34px;
   font-size  : 18px;
   line-height: 160%;
   color      : #3c4658;
}

.services {
   padding-top: 48px;
}

.services_list {
   width    : 344px;
   border   : 1px solid #485863;
   font-size: 28px;
   height   : 399px;
}

a {
   color          : #010101;
   text-decoration: none;
}

.services_list :hover {
   background-color: #DBDBDB;
   width           : 342px;
   height          : 81px;
}

.services_item {
   width      : 342px;
   height     : 81px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size  : 27px;
   padding    : 27px 78px 27px 38px;
}

.services_item_last_child {
   padding-bottom: 70px;
   font-family   : Verdana, Geneva, Tahoma, sans-serif;
   font-size     : 27px;
   padding-left  : 38px;
}

.services_item_last_child :hover {
   text-decoration      : underline;
   text-decoration-color: #3181A6;
}

.services_item :hover {
   text-decoration      : underline;
   text-decoration-color: #3181A6;
}

.main_img_container {
   margin-left: 52px;
}

.main_img {
   border     : 1px solid lightskyblue;
   text-align : center;
   height     : 529px;
   padding-top: 75px;
}

.services_container {
   display: flex;
}

.services_details {
   list-style-type     : none;
   margin-block-start  : 0;
   margin-block-end    : 0;
   padding-inline-start: 0px;
   text-align          : left;
   display             : inline-block;
   padding             : 26px;
}

.services_details_item {
   font-size  : 27px;
   color      : gba(72, 88, 99, 1);
   font-weight: 400;
}

.services_title {
   font-weight  : bold;
   font-size    : 16px;
   line-height  : 19px;
   color        : #3c4658;
   margin-top   : 30px;
   margin-bottom: 24px;
}

.footer_list :hover {
   color               : #3181A6;
   text-decoration-line: underline;
}